/* Normal/Geral; Quando o dispositivo tiver o width > 968px */

@import url('https://maritimeocean41.github.io/fonts/main.css');
*
{
    font-family: 'Poppins', sans-serif;
    color: #333;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    border-right: 1px solid #ccc;
    .title
    {
        background-color: #eee;
        position: relative;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 20vh;
        font-size: 3.75em;
        font-weight: 600;
        text-align: center;
        line-height: 20vh;
    }
    /*.modes
    {
        position: relative;
        top: 0;
        left: 0;
        width: 95%;
        height: 60%;
        margin: 0;
        padding: 0;
        cursor: pointer;
        li
        {
            display: block;
            width: 100%;
            height: 30%;
            font-size: 3em;
            font-weight: 600;
            line-height: calc(60vh * .3);
            padding: 0 0 0 5%;
            border-top: 1px solid #ccc;
            transition: background-color .2s;
        }
    }*/
    .info
    {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin-top: 100px;
        font-size: 1.6rem;
        text-align: center;
        span
        {
            display: block;
            width: 100%;
            margin-top: 20px;
        }
    }
}
section
{
    position: fixed;
    top: 0;
    left: 30%;
    width: 70vw;
    height: 100vh;
    .game
    {
        position: relative;
        display: table;
        top: 10%;
        left: 50%;
        min-width: 200px;
        min-height: 300px;
        border-spacing: 5px;
        transform: translate(-50%);
        .row
        {
            display: table-row;
            width: 100%;
            height: 50px;
            .cell
            {
                display: table-cell;
                width: 2.5rem;
                height: 2.5rem;
                font-size: 2rem;
                font-weight: 600;
                text-align: center;
                text-transform: uppercase;
                padding: 2px;
                border: 2px solid #ccc;
                border-radius: 5px;
            }
        }
    }
    .keyboard
    {
        position: relative;
        display: table;
        top: 15%;
        left: 50%;
        min-width: 500px;
        min-height: 100px;
        border-spacing: 5px;
        transform: translate(-50%);
        .kr
        {
            display: table-row;
            width: 100%;
            height: 10px;
            text-align: center;
            .key
            {
                display: inline-block;
                width: 5.5vw;
                height: 35px;
                text-align: center;
                line-height: 35px;
                font-size: 1.4em;
                font-weight: 600;
                cursor: default;
                border: 2px solid #ccc;
                border-radius: 5px;
                margin: 0 2px 0 2px;
            }
        }
    }
}